.container {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    text-align: center;
    align-items: center;
}

.left-bar {
    background-color: limegreen;
    padding: 2em 1em;
    margin: 1em;
}

.main-content {
    background-color: red;
    padding: 1em;
    margin: 1em;

}

.right-bar {
    background-color: royalblue;
    padding: 2em 1em;
    margin: 1em;

}