* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 3em 18em;
    border: 1px solid black;
    border-radius: 10px;
}

.header{
    border-bottom: 1px solid black;
}

.headertext{
    padding: 0.5em;
}

.main{
    margin-bottom: 1em;
}

.maintitle{
    padding: 0.5em;
}

.maincont{
    display: flex;
    justify-content: center;
}

.sidebar{
    border: 1px solid black;
    padding: 4.1em 0.5em;
    border-radius: 15px;
    margin: auto 0.5em;
}

.articles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.articlesub{
    border: 1px solid black;
    padding: 1em 10em;
    border-radius: 10px;
    margin: 1em;
}

.footer{
    border-top: 1px solid black;
}

.footer_title{
    padding: 0.5em;
}